/* CSS declarations go here */
#zpalette {
    background: red;
}

#zcanvass {
    background: green;
}

#palette {
    background: darkgreen;
    height: 2em;
    width: 1000px;
    padding: 2em;
}

.tool {
    background: green;
    padding: 1em;
    margin: 2em;
}