/* CSS declarations go here */
#zpalette {
    background: red;
}

#canvass {
    cursor: crosshair;
}

#palette {
    background: lightgray;
    height: 9em;
    width: 1000px;
    padding: 0px;
}

.tool {
    background: gray;
    margin:.2em;
    width: 10em;
}

.tool .glyphicon {
    font-size: 4em;
}

.toolLabel {
    font-size: 2em;
}

.colorPaletteItem {
    padding:1em 2em;
    margin:3px;
    color: aqua;
    border: solid black 1px;
}

.colorPicker {
    width: 50px;
    height: 50px;
}