/* CSS declarations go here */
#zpalette {
    background: red;
}

#canvass {
    cursor: crosshair;
}

#palette {
    background: gray;
    height: 9em;
    width: 1000px;
    padding: 0px;
}

.tool {
    background: darkgray;
    margin:.2em;
    width: 10em;
}

.tool .glyphicon {
    font-size: 4em;
}

.toolLabel {
    font-size: 2em;
}

